.masthead {
   padding: 1em;
   background: #000531 url("http://www.spacetelescope.org/static/images/background.jpg") repeat-x;;
   background-size: cover; 
   color: #fff;
}
.masthead-planets {
    background: purple;
}