.current {
    background-color: lightblue;
    color: #fff;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav > li {
    display: inline-block;
}

.nav-top {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}